<ion-content class="background" style="background-color: rgb(6, 15, 66);">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name="arrow-back" routerLink="/login"></ion-icon>
        </ion-buttons>
    </ion-toolbar>

    <ion-grid>
        <p class="text">Your account is not activated yet. <br> We had sent you OTP, please confirm</p>
        <ion-card>
            <form class="ion-padding" [formGroup]="ActivateForm" (ngSubmit)="verifyActivateUserOtp(ActivateForm.value)">
                <ion-row style="padding-left: 10%; padding-right: 10%;">
                    <ion-col class="ion-float-right">
                        <div>
                            <ion-item>
                                <ion-label position="fixed" style="color: #fff;">
                                    OTP</ion-label>
                                <ion-input style="color: #fff;" type="text" formControlName="otp">
                                </ion-input>
                            </ion-item>
                            <div id="errorStyle" *ngIf="validateForm && f.otp.errors" class="invalid-feedback">
                                <div *ngIf="f.otp.errors.required">*OTP is required</div>

                            </div>
                        </div>
                    </ion-col>

                    <button class="button-submit des-button" type="ngSubmit">
          Activate Account</button>

                </ion-row>
            </form>
        </ion-card>
    </ion-grid>
</ion-content>