<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon name="arrow-back" routerLink="/home"></ion-icon>
        </ion-buttons>
        <ion-title>About us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="flex-layout">
        <img class="main-img" src="../../assets/icon.png">
        <h3 class="header-text"> CONNECT BAZAR </h3>
        <p class="intro-paragraph"> Connect Bazar is a local e-commerce platform which targets customers within city / town. Below are the key highlights of Connect Bazar: <br> 1. The main target of this platform is to provide facilities for local vendors to reach local customers
            online. <br> 2. Competitive pricing among vendors to provide local goods, which couldn't be found on other e-commerce platform at cheap rates. <br> 3. Fastest delivery time as we promise to deliver goods within 3 hours of order placed (depends
            on location). <br> 4. Connect to your local or global customers digitally through our mobile based solutions. <br> 5. Manage your products availability at realtime with 0 downtime. </p>
        <span> <span> To know about us more, do visit: </span>
        <a target="_blank" href="https://www.connectitlabs.in/"> <span style="font-weight: bold;"> www.connectitlabs.in </span></a>
        </span> <br><br>
        <div class="company-logo">
            <img src="../../assets/logo.png"> &nbsp;
            <span class="team-footer"> Connect IT Labs Team</span>
        </div>
    </div>
</ion-content>