<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon name="arrow-back" routerLink="/home"></ion-icon>
        </ion-buttons>
        <ion-title>Contact us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="flex-layout">
        <img class="main-img" src="../../assets/icon.png">
        <h3 class="header-text"> CONNECT BAZAR </h3>
        <p class="intro-paragraph"> You can contact us on below details: <br> PHONE: +91-8329201536 <br> EMAIL: connectitlabs@gmail.com <br> <br> <br> We also accepts order via Whatsapp, click below to order:
            <br>
        </p>
        <a style="text-decoration: none; width: 100%;" href="whatsapp://send?phone=918329201536">
            <ion-button expand="block" style="--background: #4CAF50; width: 100%;">
                <ion-icon slot="start" src="../../assets/whatsapp.svg"></ion-icon> Order via Whatsapp</ion-button>
        </a>

        <br><br>
        <span> <span> To know about us more, do visit: </span>
        <a target="_blank" href="https://www.connectitlabs.in/"> <span style="font-weight: bold;">
                    www.connectitlabs.in </span></a>
        </span> <br><br>
        <div class="company-logo">
            <img src="../../assets/logo.png"> &nbsp;
            <span class="team-footer"> Connect IT Labs Team</span>
        </div>
    </div>
</ion-content>