<ion-header>
    <ion-toolbar color="primary" style="height: 52px;">
        <ion-buttons slot="start">
            <ion-icon name="arrow-back" routerLink="/home"></ion-icon>
        </ion-buttons>
        <ion-title>{{category}}</ion-title>
        <ion-buttons slot="end" tab="search">
            <ion-button (click)="openModel()">
                <ion-icon name="search" class="cart-icon"></ion-icon>
            </ion-button>
            <ion-button style="margin-left: 6px; position: relative;" routerLink="/cart">
                <ion-icon name="cart" style="font-size: 24px;"></ion-icon>
                <ion-badge slot="end" style="border-radius: 50%;">{{quantity}}</ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="appBackground">

    <ion-card class="ion-card-category" *ngFor="let items of productList; let i =index">
        <ion-row>
            <ion-col size="4" (click)="particularProduct(items)">
                <img class="cart-image" [src]="items.url" />
            </ion-col>

            <ion-col class="cate-ion-col">
                <div class="cate-parent">
                    <div class="rupee-status" (click)="particularProduct(items)">
                        <p class="class-ruppee">
                            ₹{{items.newPrice}} <span> <del class="class-del">₹{{items.oldPrice}}</del> </span>
                            <span> <label class="class-off-button" id="product-label">{{items.discountPercentage}}% Off</label> </span>
                        </p>
                    </div>

                    <div class="branddiv" (click)="particularProduct(items)">
                        <p class="class-product">
                            {{items.productName}}<span class="class-brand"> - ({{items.brand}}) </span>
                            <span> </span>
                        </p>
                    </div>



                    <!-- condition to show cart button and out of stock -->
                    <ng-container *ngIf="show == false">
                        <button class="cartButton des-button" (click)="moveWithToast()">ADD TO CART</button>
                    </ng-container>

                    <ng-container *ngIf="show == true">
                        <ng-container *ngIf="items.available == true; then addTocart else stock"></ng-container>

                        <ng-template #addTocart>

                            <div *ngIf="items.visible == true">
                                <button class="cartButton des-button" (click)="addToCart(items,i)">ADD TO CART</button>
                            </div>

                            <div *ngIf="items.visible == false" class="cate-more">
                                <button class="incButton des-button" (click)="removeFromCart(items,i)">-</button>
                                <p class="incText">{{items.quantity}}</p>
                                <button class="decButton des-button" (click)="addToCart(items,i)">+</button>
                            </div>
                        </ng-template>

                        <ng-template #stock>
                            <p class="stock">OUT OF STOCK</p>
                        </ng-template>
                    </ng-container>
                </div>
            </ion-col>

        </ion-row>
    </ion-card>
</ion-content>