<ion-header color="primary">
    <ion-toolbar class="flex-horizontal" color="primary">
        <ion-buttons slot="start">
            <ion-menu-button style="font-size:44px;margin-top: -6px;"></ion-menu-button>
        </ion-buttons>
        <ion-title class="home-ion-title">Connect BAZAR</ion-title>

        <ion-buttons slot="end" tab="search">
            <ion-button (click)="openModal()">
                <ion-icon name="search" class="search-icon"></ion-icon>

            </ion-button>
            <ion-button routerLink="/cart">
                <ion-icon name="cart" style="font-size: 24px;"></ion-icon>
                <ion-badge slot="end" style="border-radius: 50%;">{{quantity}}</ion-badge>
            </ion-button>

        </ion-buttons>



    </ion-toolbar>
</ion-header>

<div *ngIf="homeMsg" class="NoProduct">
    <img src="../../assets/warning.svg" width="200" alt="Warning">
    <p> SOMETHING WENT WRONG! </p>
</div>

<ion-content *ngIf="subCategoriesMapping.length" class="background">

    <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
        <ion-slide *ngFor="let item of bannerImage">
            <img class="slider-image" [src]="item.url" alt="Connect Bazar" />
        </ion-slide>

    </ion-slides>
    <br>
    <div class="flex-horizontal">
        <img style="margin: 5px 10px" src="../../assets/list.png" width="40" alt="Connect Bazar" />
        <div class="categories-header">Categories</div>
    </div>

    <ion-grid class="categories-container">
        <mat-accordion multi>
            <mat-expansion-panel *ngFor="let item of subCategoriesMapping; let i = index" hideToggle="true">
                <mat-expansion-panel-header>
                    <ion-row (click)="toggleAccordion(item)" class="category-card">
                        <img class="category-image" [src]="item.url" alt="Connect Bazar" />
                        <p class="category-text ion-text-end">{{item.categoryName}}</p>
                        <ion-icon [ngClass]="{'is-opened': item.isOpened, 'is-closed' : !item.isOpened }" name="chevron-down-circle-outline" class="drop-down-icon"></ion-icon>

                    </ion-row>
                </mat-expansion-panel-header>
                <ion-grid class="sub-categories-container">
                    <ion-row (click)="subCategoryList(subCategory)" class="sub-category-card" *ngFor="let subCategory of item.subCategories">
                        <img class="sub-category-image" [src]="subCategory.url" alt="Connect Bazar" />
                        <p class=" sub-category-text">{{subCategory.subCategoryName}}</p>
                    </ion-row>
                </ion-grid>
                <div class="no-items" *ngIf="!item.subCategories.length">
                    NO ITEMS IN THIS CATEGORY
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </ion-grid>
</ion-content>