.background {
    --background: rgb(5, 7, 20);
}

ion-toolbar {
    --min-height: 70px!important;
}

.home-ion-title {
    font-family: OpenSans-Light;
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
}

p {
    font-family: OpenSans-Light;
    font-style: normal;
    font-weight: bolder;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.category-image {
    border-radius: 10%;
    height: 166px;
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
    margin-right: auto;
    display: block;
}

.slider-image {
    height: 230px;
    min-height: 230px;
    width: 100%;
    object-fit: cover;
}

.flex-horizontal {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 360px) {
    .category-image {
        border-radius: 50%;
        min-height: 120px;
        max-height: 120px;
        min-width: 120px;
        max-width: 120px;
        margin-right: auto;
        display: block;
    }
    .home-ion-title {
        font-family: OpenSans-Light;
        font-style: normal;
        font-weight: bolder;
        font-size: 14px;
        text-align: center;
        color: #ffffff;
    }
}

.categories-header {
    color: #fff;
    font-size: 24px;
    max-width: 120px;
    height: 30px;
    font-weight: bold;
}

.categories-container {
    margin: 0;
    padding: 0;
}

.category-card {
    display: flex;
    width: 96vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 5px 2vw 5px 2vw;
    padding: 5px 2vw 5px 2vw;
    background: #1f2238;
    border-radius: 10px;
    -webkit-box-shadow: 1px 5px 14px 0px rgba(0, 1, 0, 0.8);
    -moz-box-shadow: 1px 5px 14px 0px rgba(0, 1, 0, 0.8);
    box-shadow: 1px 5px 14px 0px rgba(0, 1, 0, 0.8);
}

.category-text {
    margin-right: 5px;
    margin-top: 30px;
}

.drop-down-icon {
    padding: 0 5px;
    margin-top: 30px;
}

.mat-expansion-panel {
    display: inherit;
    &:hover {
        background: none;
    }
    &-header {
        display: contents;
        .mat-expansion-indicator {
            display: none;
        }
    }
    &-body {
        padding: 0 !important;
    }
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

.sub-categories-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sub-category-card {
    display: flex;
    min-width: 30%;
    max-width: 30%;
    min-height: 20vh;
    max-height: 20vh;
    align-items: center;
    justify-content: center;
    margin: 5px 2px;
    padding: 5px;
    background: #3f5f72;
    border-radius: 10px;
    -webkit-box-shadow: 1px 5px 14px 0px rgba(0, 1, 0, 0.8);
    -moz-box-shadow: 1px 5px 14px 0px rgba(0, 1, 0, 0.8);
    box-shadow: 1px 5px 14px 0px rgba(0, 1, 0, 0.8);
    .sub-category-image {
        width: 90%;
        height: 70%;
        border-radius: 20%;
    }
    .sub-category-text {
        font-size: 1em;
        margin-top: 5px;
    }
}

.no-items {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.is-opened {
    transform: rotate(180deg);
    transition: 0.4s;
}

.is-closed {
    transform: rotate(0deg);
    transition: 0.4s;
}