ion-searchbar {
    --background: var(--ion-color-primary);
    font-size: 24px;
    color: white;
    margin-top: 9px;
    font-weight: bolder;
    --box-shadow: none;
    border-bottom: 1px solid #fff;
}