/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.background {
    --background: url(./assets/login.png) repeat-x 0% 0%;
}

.button-submit {
    color: white;
    height: 50px;
    font-size: 18px;
    border-radius: 25px;
    background: #6b00c2;
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#errorStyle {
    color: red;
    text-align: end;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-icon {
    color: #ffffff;
    font-size: 24px;
}

ion-card {
    background: rgba(196, 196, 196, 0.12);
    border-radius: 15px;
}

ion-item {
    --background: rgba(0, 0, 0, 0) !important;
    color: #666;
}

.appBackground {
    // background for the app
    --background: rgb(5, 7, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-notFound {
    align-items: center;
}

ion-badge {
    border-radius: 50%;
    height: 23px;
    width: 23px;
    left: 20px;
    font-weight: bolder;
    top: 9px;
    padding: 4px;
    background-color: #1bb916;
}

ion-title {
    font-family: OpenSans-Light;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    text-align: left;
    color: #fff;
}

//==========================Category List CSS==================//
.class-ruppee {
    font-family: OpenSans-Light;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    color: #c2c2c2;
    padding-left: 10px;
}

//css for the ion-card
.ion-card-category {
    background: #1f2238;
    border-radius: 10px;
    -webkit-box-shadow: 1px 5px 14px 0px rgba(0, 1, 0, 0.8);
    -moz-box-shadow: 1px 5px 14px 0px rgba(0, 1, 0, 0.8);
    box-shadow: 1px 5px 14px 0px rgba(0, 1, 0, 0.8);
    height: 200px;
}

.brand-div {
    position: fixed;
    top: 50px;
}

.cart-image {
    border-radius: 12px;
    max-width: 120px;
    margin-top: 3vh;
    max-height: 120px;
}

//old price value
.class-del {
    font-family: OpenSans-Light;
    font-style: normal;
    font-weight: lighter;
    position: absolute;
    left: 70px;
}

// % off button
.class-off-button {
    font-size: 12px;
    text-align: center;
    background: #66c13b;
    border-radius: 12px;
    height: 31px;
    color: #fff;
    width: 77px;
    font-family: OpenSans-Light;
    font-weight: bold;
    position: absolute;
    right: 2px;
}

#product-label {
    padding-top: 7px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: OpenSans-Light;
}

// css for the product name
.class-product {
    font-family: OpenSans-Light;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #c2c2c2;
    width: 100%;
    height: 46px;
    overflow: hidden;
    padding-left: 10px;
}

// css for the brand name
.class-brand {
    font-family: OpenSans-Light;
    font-size: 14px;
    color: #c2c2c2;
}

//Add to cart button
.cartButton {
    background-color: #6B00C2;
    --background: #6B00C2;
    height: 31px;
    color: #fff;
    width: 125px;
    font-family: OpenSans-Light;
    font-weight: normal;
    position: absolute;
    right: 4px;
    bottom: -40px;
}

// increment decrement button
.incButton {
    border-radius: 12px;
    position: absolute;
    color: white;
    bottom: -24px;
    right: 111px;
    font-family: OpenSans-Light;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    width: 48px;
    height: 30px;
    background-color: #6B00C2;
    --background: #6B00C2;
}

// quantity css on inc and decre button click
.incText {
    position: absolute;
    font-family: OpenSans-Light;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #C2C2C2;
    right: 81px;
    bottom: -40px
}

// decrement button
.decButton {
    border-radius: 12px;
    position: absolute;
    color: white;
    bottom: -24px;
    right: 12px;
    font-family: OpenSans-Light;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    width: 48px;
    height: 30px;
    background-color: #6B00C2;
    --background: #6B00C2;
}

// out of stock
.stock {
    color: #ff5533;
    font-size: 18px;
    font-weight: 800;
    position: absolute;
    bottom: -52px;
}

// search page to show msg to user
.NoProduct {
    color: #c2c2c2;
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.cate-parent {
    position: relative;
}

.cate-more {
    position: relative;
}

// ======================media query css for small devices ===============//
@media only screen and (max-width: 360px) {
    ion-title {
        font-family: OpenSans-Light;
        font-style: normal;
        font-weight: bolder;
        font-size: 20px;
        color: #fff;
        margin-left: -15px;
    }
    .cart-image {
        border-radius: 17px;
        max-width: 100px;
        margin-top: 30%;
        max-height: 120px;
    }
    .ion-card-category {
        background: rgba(196, 196, 196, 0.2);
        border-radius: 10px;
        height: 170px;
    }
    .class-ruppee {
        font-family: OpenSans-Light;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #c2c2c2;
        padding-left: 10px;
    }
    // css for the product name
    .class-product {
        font-family: OpenSans-Light;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #c2c2c2;
        width: 100%;
        height: 46px;
        overflow: hidden;
        padding-left: 10px;
    }
    .incButton {
        position: absolute;
        right: 88px;
        bottom: -19px;
        font-family: OpenSans-Light;
        font-size: 19px;
        font-weight: bolder;
        text-align: center;
        border-radius: 4px;
        width: 33px;
        height: 26px;
        color: #FFFFFF;
        background-color: #6B00C2;
        --background: #6B00C2;
    }
    .cartButton {
        background-color: #6B00C2;
        --background: #6B00C2;
        height: 30px;
        color: #fff;
        width: 99px;
        font-family: OpenSans-Light;
        font-weight: normal;
        position: absolute;
        right: 4px;
        bottom: -34px;
    }
    // quantity css on inc and decre button click
    .incText {
        position: absolute;
        font-family: OpenSans-Light;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #C2C2C2;
        right: 61px;
        bottom: -34px;
    }
    // decrement button
    .decButton {
        font-family: OpenSans-Light;
        position: absolute;
        bottom: -19px;
        right: 17px;
        font-size: 18px;
        font-weight: bolder;
        border-radius: 4px;
        text-align: center;
        width: 33px;
        height: 26px;
        color: #FFFFFF;
        background-color: #6B00C2;
        --background: #6B00C2;
    }
    .stock {
        color: #ff5533;
        font-size: 18px;
        font-weight: 800;
        position: absolute;
        bottom: -52px;
    }
}

.login-ctr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-btn {
    margin-top: 40px !important;
    width: 80% !important;
    height: 40px;
}

.des-button {
    background: linear-gradient(174deg, rgba(102, 12, 120, 1) 0%, rgba(125, 15, 145, 1) 17%, rgba(138, 15, 161, 1) 61%, rgba(166, 15, 194, 1) 92%, rgba(186, 16, 218, 1) 100%);
    --background: linear-gradient(174deg, rgba(102, 12, 120, 1) 0%, rgba(125, 15, 145, 1) 17%, rgba(138, 15, 161, 1) 61%, rgba(166, 15, 194, 1) 92%, rgba(186, 16, 218, 1) 100%) !important;
    border-radius: 10px;
}

//==========================END==================//
//=====CSS for the cart page ==============//
.cart-background {
    background-color: rgb(6, 15, 66);
}

.promocode {
    font-family: OpenSans-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    margin-left: 20%;
    color: #c3c3c3;
}

.checkout-button {
    border-radius: 15px;
    width: 100%;
    height: 52px;
    font-weight: bold;
    font-size: 19px;
    margin-left: -10px;
}

.search-icon {
    font-size: 24px;
}