<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon name="arrow-back" routerLink="/category"></ion-icon>
        </ion-buttons>
        <ion-title>{{product.categoryName}}</ion-title>
        <ion-buttons style="width: 110px;" slot="end" tab="search">
            <ion-button (click)="openModal()">
                <ion-icon name="search" class="cart-icon"></ion-icon>
            </ion-button>
            <ion-button style="margin-left: 6px; position: relative;width: 90px;" routerLink="/cart">
                <ion-icon name="cart" style="font-size: 24px; margin-left: -30px;"></ion-icon>
                <ion-badge slot="end" style="border-radius: 50%; margin-top: -5px;">{{quantity}}</ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="appBackground">


    <div>
        <img [src]="product.url" alt="Connect Bazar" />
    </div>
    <div class="flex-horizontal">
        <h4 style="margin-left: 10px;font-weight: bold;">{{product.productName}}</h4>
        <div class="flex-vertical">
            <label class="class-off-button" id="product-label">{{getDiscount}}% Off</label> <br>
            <h4 class="base-price"> ₹ {{product.newPrice}}</h4>
        </div>
    </div> <br><br>
    <div style="display: flex;flex-direction: column;align-items: center;">
        <span class="description-header"> Product Description</span>
        <p class="ProductDescription">

            {{product.productDescription}}
        </p>
    </div>
    <div *ngIf="addCartButton">
        <ion-button class="cartbutton des-button" (click)="addToCart(product)">
            ADD TO CART
        </ion-button>
    </div>

    <div *ngIf="addedButton">
        <ion-button class="cartbutton des-button" routerLink='/cart'>
            View CART
        </ion-button>
    </div>

    <div *ngIf="showButton">
        <ion-button class="cartbutton des-button" routerLink='/login'>
            Login To Add Product
        </ion-button>
    </div>




</ion-content>