.background {
    --background:rgb(6, 15, 66);
    }

    img {
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 190px;
    }

    h1 {
        text-align: center;
    color: #c2c2c2;
    font-weight: bold;
    }